<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let c of dataList">
            <h4>{{c.Employee_Id}}</h4>
            <h4>{{c.Emp_Name}}</h4>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-avatar item-start>
                <img src="img/avatar-finn.png">
            </ion-avatar>
            <h2>Finn</h2>
            <h3>Don't Know What To Do!</h3>
            <p>I've had a pretty messed up day. If we just...</p>
        </ion-item>
    </ion-list>

    <button ion-button full (click)="takePhoto()">
  <ion-icon name="camera"></ion-icon>Take Photo
  </button>

    <ion-grid>
        <ion-row>
            <ion-col col-6 *ngFor="let photo of photos; let id = index">
                <ion-card class="block">
                    <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
                    <img [src]="photo" *ngIf="photo" />
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>